main + header {
  height: 60px;
  background-color: rgb(34, 33, 33, 0.9);
}

.img-header,
.img-notfound {
  position: relative;
  top: 55px;
}

#img-header,
#img-notfound {
  width: 100vw;
  background-color: #e56060;
}

.navbar {
  background-color: rgb(34, 33, 33);
  width: 100%;
  z-index: 10;
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
}

#search-form {
  display: flex;
}

.input.search,
.input.primary,
.dropdown {
  border-radius: 2px;
  border-style: none;
  font-size: 1rem;
}

.input.search,
.input.primary {
  width: 100%;
  padding: 10px;
}

.input.search,
.dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #e56060;
}

.navbar .navbar-icon {
  margin-right: 8px;
}

.navbar .navbar-icon:hover {
  color: #e56060;
}

.navbar input {
  height: 30px;
  margin-right: 10px;
}

.navbar select {
  height: 30px;
  margin-right: 10px;
}

.navbar .fas {
  font-size: 1.1rem;
  cursor: pointer;
  color: #ffffff;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

.logo img {
  margin-left: 10px;
  width: 56px;
}

.left-menu {
  flex: 1;
}

.left-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-menu ul li {
  display: inline-block;
}

.right-menu {
  margin-right: 10px;
}

.right-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-menu ul li {
  display: inline-block;
}

#sign-up,
#img-notfound {
  background-color: #e56060;
}

#sign-up:hover {
  color: rgb(34, 33, 33);
}

.navbar-item > a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5rem;
}

#search-link {
  padding: 0;
}

.navbar-item > a:hover {
  color: #e56060;
}

@media all and (max-width: 320px) {
  .input.search,
  .dropdown {
    width: 50px;
    font-size: 60%;
  }

  .navbar {
    justify-content: space-between;
  }

  #sign-up,
  #login,
  .left-menu {
    display: none;
  }
}

@media all and (min-width: 320px) and (max-width: 350px) {
  .input.search,
  .dropdown {
    width: 70px;
    font-size: 80%;
  }

  .navbar {
    justify-content: space-between;
  }

  #sign-up,
  #login,
  .left-menu {
    display: none;
  }
}

@media all and (min-width: 350px) and (max-width: 510px) {
  .input.search {
    width: 70px;
  }

  .input.search,
  .dropdown,
  .navbar-item a {
    font-size: smaller;
  }

  #sign-up,
  #login {
    display: none;
  }
}

@media all and (min-width: 510px) and (max-width: 768px) {
  .input.search {
    width: 200px;
  }

  #sign-up,
  #login {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1440px) {
  #user-icon {
    display: none;
    margin: 0;
  }
}
